 {CheckOptions: [ {key: xilinx-tb31-process.TopFunctionName, value: 'yolo_conv_top'}, {key: xilinx-tb31-process.KeepTopName, value: '1'},
{key: xilinx-tb31-process.NewFlow, value: '1'}, {key: xilinx-tb31-process.BCSim, value: '0'} ] } 
